<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fqcheng220.dao.ProductSpuMapper">
  <resultMap id="listEnhancedResultMap" type="com.fqcheng220.dto.ProductSpuImgDtoNew">
    <result column="tb_product_spu_id" property="tbProductSpuId" jdbcType="BIGINT"/>
    <result column="tb_product_spu_name" property="tbProductSpuName" jdbcType="VARCHAR"/>
    <result column="tb_product_category_id" property="tbProductCategoryId" jdbcType="BIGINT"/>
    <result column="tb_product_category_name" property="tbProductCategoryName" jdbcType="VARCHAR"/>
    <collection property="mProductSpuImgList" javaType="java.util.List" ofType="com.fqcheng220.model.ProductSpuImg">
      <id column="tb_product_spu_img_id" property="id" jdbcType="INTEGER"/>
      <result column="tb_product_spu_img_path" property="path" jdbcType="VARCHAR"/>
      <result column="tb_product_spu_img_sort" property="sort" jdbcType="INTEGER"/>
      <result column="tb_product_spu_img_statue" property="statue" jdbcType="TINYINT"/>
    </collection>
  </resultMap>
  <select id="listEnhanced" resultMap="listEnhancedResultMap">
    select
    a.id as tb_product_spu_id,
    a.number as tb_product_spu_number,
    a.spuName as tb_product_spu_name,
    b.id as tb_product_spu_img_id,
    b.path as tb_product_spu_img_path,
    b.sort as tb_product_spu_img_sort,
    b.statue as tb_product_spu_img_statue,
    c.id as tb_product_category_id,
    c.name as tb_product_category_name
    from tb_product_spu a
    right outer join tb_product_spu_img b
    on b.tb_product_spu_id = a.id
    left outer join tb_product_category c
    on c.id = a.tb_product_category_id
    order by tb_product_spu_img_sort asc ;
  </select>
  <resultMap id="BaseResultMap" type="com.fqcheng220.model.ProductSpu">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="spuName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="introduce" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="show_in_shelve" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="shelve_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="shelve_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="show_in_top" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="show_in_nav" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="show_in_hot" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="create_by" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="video_introduce" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="search_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tb_product_category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="tb_product_brand_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, number, spuName, introduce, show_in_shelve, shelve_time, shelve_by, update_time, 
    update_by, show_in_top, show_in_nav, show_in_hot, create_time, create_by, video_introduce, 
    search_key, tb_product_category_id, tb_product_brand_id
  </sql>
  <select id="selectByExample" parameterType="com.fqcheng220.model.ProductSpuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_product_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product_spu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_product_spu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fqcheng220.model.ProductSpuExample">
    delete from tb_product_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fqcheng220.model.ProductSpu">
    insert into tb_product_spu (id, number, spuName, 
      introduce, show_in_shelve, shelve_time, 
      shelve_by, update_time, update_by, 
      show_in_top, show_in_nav, show_in_hot, 
      create_time, create_by, video_introduce, 
      search_key, tb_product_category_id, tb_product_brand_id
      )
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{spuname,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{showInShelve,jdbcType=TINYINT}, #{shelveTime,jdbcType=TIMESTAMP}, 
      #{shelveBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{showInTop,jdbcType=TINYINT}, #{showInNav,jdbcType=TINYINT}, #{showInHot,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{videoIntroduce,jdbcType=VARCHAR}, 
      #{searchKey,jdbcType=VARCHAR}, #{tbProductCategoryId,jdbcType=BIGINT}, #{tbProductBrandId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fqcheng220.model.ProductSpu">
    insert into tb_product_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="spuname != null">
        spuName,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="showInShelve != null">
        show_in_shelve,
      </if>
      <if test="shelveTime != null">
        shelve_time,
      </if>
      <if test="shelveBy != null">
        shelve_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="showInTop != null">
        show_in_top,
      </if>
      <if test="showInNav != null">
        show_in_nav,
      </if>
      <if test="showInHot != null">
        show_in_hot,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="videoIntroduce != null">
        video_introduce,
      </if>
      <if test="searchKey != null">
        search_key,
      </if>
      <if test="tbProductCategoryId != null">
        tb_product_category_id,
      </if>
      <if test="tbProductBrandId != null">
        tb_product_brand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="spuname != null">
        #{spuname,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="showInShelve != null">
        #{showInShelve,jdbcType=TINYINT},
      </if>
      <if test="shelveTime != null">
        #{shelveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelveBy != null">
        #{shelveBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="showInTop != null">
        #{showInTop,jdbcType=TINYINT},
      </if>
      <if test="showInNav != null">
        #{showInNav,jdbcType=TINYINT},
      </if>
      <if test="showInHot != null">
        #{showInHot,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="videoIntroduce != null">
        #{videoIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="searchKey != null">
        #{searchKey,jdbcType=VARCHAR},
      </if>
      <if test="tbProductCategoryId != null">
        #{tbProductCategoryId,jdbcType=BIGINT},
      </if>
      <if test="tbProductBrandId != null">
        #{tbProductBrandId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fqcheng220.model.ProductSpuExample" resultType="java.lang.Long">
    select count(*) from tb_product_spu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_product_spu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.spuname != null">
        spuName = #{record.spuname,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null">
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.showInShelve != null">
        show_in_shelve = #{record.showInShelve,jdbcType=TINYINT},
      </if>
      <if test="record.shelveTime != null">
        shelve_time = #{record.shelveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shelveBy != null">
        shelve_by = #{record.shelveBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.showInTop != null">
        show_in_top = #{record.showInTop,jdbcType=TINYINT},
      </if>
      <if test="record.showInNav != null">
        show_in_nav = #{record.showInNav,jdbcType=TINYINT},
      </if>
      <if test="record.showInHot != null">
        show_in_hot = #{record.showInHot,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.videoIntroduce != null">
        video_introduce = #{record.videoIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.searchKey != null">
        search_key = #{record.searchKey,jdbcType=VARCHAR},
      </if>
      <if test="record.tbProductCategoryId != null">
        tb_product_category_id = #{record.tbProductCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.tbProductBrandId != null">
        tb_product_brand_id = #{record.tbProductBrandId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_product_spu
    set id = #{record.id,jdbcType=BIGINT},
      number = #{record.number,jdbcType=VARCHAR},
      spuName = #{record.spuname,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      show_in_shelve = #{record.showInShelve,jdbcType=TINYINT},
      shelve_time = #{record.shelveTime,jdbcType=TIMESTAMP},
      shelve_by = #{record.shelveBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      show_in_top = #{record.showInTop,jdbcType=TINYINT},
      show_in_nav = #{record.showInNav,jdbcType=TINYINT},
      show_in_hot = #{record.showInHot,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      video_introduce = #{record.videoIntroduce,jdbcType=VARCHAR},
      search_key = #{record.searchKey,jdbcType=VARCHAR},
      tb_product_category_id = #{record.tbProductCategoryId,jdbcType=BIGINT},
      tb_product_brand_id = #{record.tbProductBrandId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fqcheng220.model.ProductSpu">
    update tb_product_spu
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="spuname != null">
        spuName = #{spuname,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="showInShelve != null">
        show_in_shelve = #{showInShelve,jdbcType=TINYINT},
      </if>
      <if test="shelveTime != null">
        shelve_time = #{shelveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shelveBy != null">
        shelve_by = #{shelveBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="showInTop != null">
        show_in_top = #{showInTop,jdbcType=TINYINT},
      </if>
      <if test="showInNav != null">
        show_in_nav = #{showInNav,jdbcType=TINYINT},
      </if>
      <if test="showInHot != null">
        show_in_hot = #{showInHot,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="videoIntroduce != null">
        video_introduce = #{videoIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="searchKey != null">
        search_key = #{searchKey,jdbcType=VARCHAR},
      </if>
      <if test="tbProductCategoryId != null">
        tb_product_category_id = #{tbProductCategoryId,jdbcType=BIGINT},
      </if>
      <if test="tbProductBrandId != null">
        tb_product_brand_id = #{tbProductBrandId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fqcheng220.model.ProductSpu">
    update tb_product_spu
    set number = #{number,jdbcType=VARCHAR},
      spuName = #{spuname,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      show_in_shelve = #{showInShelve,jdbcType=TINYINT},
      shelve_time = #{shelveTime,jdbcType=TIMESTAMP},
      shelve_by = #{shelveBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      show_in_top = #{showInTop,jdbcType=TINYINT},
      show_in_nav = #{showInNav,jdbcType=TINYINT},
      show_in_hot = #{showInHot,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      video_introduce = #{videoIntroduce,jdbcType=VARCHAR},
      search_key = #{searchKey,jdbcType=VARCHAR},
      tb_product_category_id = #{tbProductCategoryId,jdbcType=BIGINT},
      tb_product_brand_id = #{tbProductBrandId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>