<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.fqcheng220"/>
    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true"/>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/unauthc"/>
        <property name="filters">
            <util:map>
                <entry key="authcToken" value-ref="jwtShiroFilter"></entry>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                <!--anon 表示不需要认证以及授权-->
                <!--authc 表示需要认证 没有登录是不能进行访问的-->
                <!--perms 表示需要该权限才能访问的页面 /user/* = perms[/*] -->
                <!--roles 表示需要角色才能访问的页面 /* = roles[管理员]-->
            </value>
        </property>
    </bean>

    <bean id="upmsRealm" class="com.fqcheng220.common.shiro.UpmsRealm"/>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <util:list>
                <ref bean="jwtShiroRealm"/>
                <ref bean="upmsRealm"/>
            </util:list>
        </property>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


    <bean id="jwtShiroFilter" class="com.fqcheng220.common.shiro.jwt.JwtShiroFilter"/>
    <bean id="jwtShiroRealm" class="com.fqcheng220.common.shiro.jwt.JwtShiroRealm">
        <property name="credentialsMatcher" ref="jWTCredentialsMatcher"/>
    </bean>
    <bean id="jWTCredentialsMatcher" class="com.fqcheng220.common.shiro.jwt.JWTCredentialsMatcher"/>
</beans>